<!DOCTYPE html>
<html ng-app="converter">
<head>
    <title>Converter</title>
    <script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/converter.js"></script>
</head>
<body ng-controller="ConverterCtrl">

<!-- Take a look at javascripts/converter.js -->

<h1>A Neat Converter !!</h1>

<input type="text" name="input"/>

<select name="inputUnit" ng-model="inputUnit" ng-options="unit for unit in units">
</select>

=>

<span>{{output}}</span>

<select name="outputUnit" ng-model="outputUnit" ng-options="unit for unit in units">
</select>


<button ng-click="convert()">Convert</button>

<p>



    <button ng-click="showStuff()">Show Input</button><br/>
    {{debug}}
</p>
</body>
</html>