<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="fora">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="css/fora.css"/>
    <script type="text/javascript" src="javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="UsersController">

<div>{{error}}</div>
<!-- use ng-click -->
<button class="fetch" id="fetch" ng-click="fetchUsers()">Click me for getting users and admins !!</button>

<div>

    <h1>Users</h1>

    <h1>Admins</h1>

    <!--
    <users></users>
    <users admin='true'></users>
    <users list='users' admin="true"></users>
    -->

</div>


<!-- Troll topic, or other topic -->
<h1>{{troll.title}}</h1>

<div ng-repeat="comment in troll.comments" class="comment-box">
    {{comment.user.name}} says:
    <div class="comment-content">
        {{comment.content}}
    </div>

</div>

<div class="new-comment">
    <form>
        <select name="user" ng-model="newComment.user" ng-options="user as user.name  for user in users"></select><br/>
        <textarea ng-model="newComment.content" ng-minlength="1" required></textarea>
        <br/>

        <div ng-show="!newComment.content.length">
            <span>Please enter something</span><br/>
        </div>

        <button class="send-comment" ng-click="send()">Send</button>
    </form>

</div>

</body>

<script type="text/javascript" src="javascripts/fora.js"></script>
<script type="text/javascript" src="javascripts/controllers.js"></script>
<script type="text/javascript" src="javascripts/directives.js"></script>
<script type="text/javascript" src="javascripts/filters.js"></script>
<script type="text/javascript" src="javascripts/services.js"></script>

</html>